.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 37px 0;
  color: $color-default-white;
  background-color: rgba(16, 16, 29, 0.9);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include vp-767 {
    padding: 16px 0;
  }
}
