@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Raleway";
  font-display: swap;
  src: url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Semibold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Heavy.woff2") format("woff2");
}
